<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<appSettings>
		<add key="cs" value="user ID=postgres; password=1234; host=localhost; port=5432; database=TourPlannerDB; Include Error Detail=True" />
		<add key="mapHandlerKey" value="SaHz8hpWGbAFt6NqaZvr7GhQnFd8cTEK" />
		<add key="mapHandlerWidth" value="600" />
		<add key="mapHandlerHeight" value="300" />
		<add key="mode" value="real"/>
	</appSettings>
</configuration>